<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/ZdenekCulik/whisper-pro/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>gnXep9+mzNXFSbX0jU7CpLtubcQ5WVfVGe0BxsSdS40=</string>
	<key>LSUIElement</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>14400</integer>
	<key>NSMicrophoneUsageDescription</key>
	<string>Whisper Pro needs access to your microphone to record audio for transcription.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Whisper Pro needs to interact with your browser to detect the current website for applying website-specific configurations.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Whisper Pro needs screen recording access to understand context from your screen for improved transcription accuracy.</string>
</dict>
</plist>
